button {
  @include btn($black, white, 1em);
  @include border-radius(.5em);
}

.btn-grey{
  @extend button;
  background-color: $light-grey;
  border: 1px solid $light-grey;
  color: $dark-grey;

  &:hover{
    background-color: rgba($light-grey,0.6);
  }
}