@mixin btn($bgcolor,$font-color,$size){
  background: $bgcolor;
  color: $font-color;
  font-size: $size;
  padding: .6em 1.2em;
  transition: background 0.2s;

  &:hover, &:focus, &:active{
    background: rgba($bgcolor,0.6);
  }
}

@mixin border-radius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin grid($columns, $gap: 1em){
    display: grid;
    grid-template-columns: repeat(#{$columns}, 1fr);
    grid-gap: $gap;
}